{% extends 'base.html.twig' %}

{% block title %}Libray Songs
{% endblock %}

{% block body %}
	{% for song in librarySongs %}
		<ul class="list-group">
			<li class="list-group-item">
				<a href="{{ path ('show_study_statuses', { idSong:song.id} ) }}">{{ song.title }}</a>
			</li>
		</ul>
	{% endfor %}
{% endblock %}
