{% extends 'base.html.twig' %}

{% block title %}Libraries
{% endblock %}

{% block body %}

	{% for library in libraries %}
		<ul class="list-group">
			<li class="list-group-item">
				<a href="{{ path ('library_show_songs', { id:library.id} ) }}">{{ library.name }}</a>
			</li>
		</ul>
	{% endfor %}
{% endblock %}
